.landingView {
  background-color: #252934;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.container {
  font-family: Dosis;
  font-size: 2rem;
}
.containerMobile {
  font-family: Dosis;
  font-size: 3.5rem;
}
.name {
  color: white;
  padding-top: 30vh;
}
.title {
  color: white;
  margin: 1rem;
}
.button {
  color: #ffffff !important;
  border-color: #ffffff !important;
  font-family: Dosis !important;
  font-size: 1.5rem !important;
  font-weight: lighter;
}
.button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 1);
}
body {
  margin: 1rem;
}
