.contactView {
  text-align: center;
  height: 100vh;
  /* width: calc(100% + 32px); */
  background-color: #e7f1ff !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  background-color: #f3f8fc !important;
}
.entry {
  width: 25vw;
  margin: 1rem !important;
}
.entrySmall {
  width: 20vw;
  margin: 1rem !important;
}
.entryMobile {
  width: 70vw;
  margin: 1rem !important;
}
.entryMobileSmall {
  width: 60vw;
  margin: 1rem !important;
}
.success {
  color: green;
  display: flex;
  justify-content: center;
}
