.contactButton {
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 40;
  z-index: 2;
}
.lightContactButton {
  position: fixed;
  right: 10px;
  top: 10px;
  color: aliceblue;
  z-index: 2;
  /* position: absolute;
  color: aliceblue;
  right: 47vw;
  top: 70vh; */
}
.noContactButton {
  position: fixed;
  display: none;
  bottom: -100px;
}
