.worksView {
  background-color: #bfddfa;
  padding-top: 10vh;
  padding-bottom: 10vh;
  min-height: 100vh;
}
.container {
  background-color: #e8eef3 !important;
  margin: 2rem !important;
  min-width: 350px;
}
.info {
  height: 4rem;
}
